.App{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('../Images/ActiveMatter_main_art.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-header{
  background-color:rgba(0,0,0,1);
  height: 5vh;
  width: 100vw;
}

body{
    overflow-x: hidden;
  }

.button-header{
  color: rgb(228, 228, 228);
  margin-left: 0.5vw;
  margin-top: 1vh;
  background-color: rgba(0,0,0,0.0);
  border-radius: 2px;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  border: none;
}

.button-header:hover {
  text-decoration: underline rgb(255, 255, 255);
  transform: translateY(1px);
  text-underline-offset: 3px;
}

.button-header:active {
  transform: translateY(2px);
}

.select-header{

}

.select-language{

}

.carousel{
  text-align: center;
  width: 200px;
  height: 20vh;
  margin-right: 30px;
  background-color: aliceblue;
  font-size: 18px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  flex-shrink: 0;
  background-size: cover;
}

.carousel-container{
  display: flex;
  position: absolute;
  bottom:10vh;
  height: 20vh;
  width: fit-content;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container:hover {
  animation-play-state: paused;
}

.container{
  height: 85vh;
  width: 100vw;
}

.carousel h3 {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}